* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.class-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.class-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
img{
    width:100%; 
    height:100vh; 
}

@media screen and (max-width:600px){
    .class-button{
        display: flex;
    }
    .navbar-links ul{
        display: none;
    }
    img{
        width:100%; 
        height:100vh; 
        padding: 0 20px 20px 0;
    }
}


