.title{
    text-align: center;
    /* margin: 50px; */
    padding: 40px;
    color: wheat;
    background-color: darkslategray;
    margin-bottom: 50px;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    gap: 20px;
}

.button1{
    height: 30px;
    background-color: lightgray;
    padding: 30px;
    border-radius: 40px;
}
.button1:hover{
    background-color: gray;
    cursor: pointer;
}