/* .container{
    display: flex;
} */
.title{
    text-align: center;
    /* margin: 50px; */
    padding: 40px;
    color: wheat;
    background-color: darkslategray;
    margin-bottom: 50px;
}
.button{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    align-items: center;
}

.button1{
    height: 30px;
    background-color: lightgray;
    border-radius: 20px; 
    padding: 30px;
}
.button1:hover{
    background-color: gray;
    cursor: pointer;
}

#flex,#grid{
    margin-top: 100px;
}

#testing{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
